p{
    background-color: aquamarine;
    font-family: Arial,Verdana, Geneva, Tahoma, sans-serif ;
    font-weight: 200;
}
h2.skill{
    font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(195, 37, 216);
    align-items: baseline;
}