h1{
    border-width: thin;
    border-style: ridge;
    border-radius: 2em;
    padding: 20px;
    margin: 0px 20px 30px 10px;
    background-color: rgb(78, 45, 5);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: inherit;
}
h1:hover{
    background-color: gray;
    border-style: groove;
}